<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gmmr-qbo/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /gmmr-qbo/index.php [L]
</IfModule>