@import url("../../../src/assets/fonts/Inter/fonts.css?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root,
[data-bs-theme="light"] {
  --light-green: #02aa53;
  --dark-green: #017137;
  --orange-color: #f06125;
  --dark-color: #001209;
  --thin-dark: #212529;
  --light-color: #e6e6e6;
  --thin-light: #ededed;
  --red-light: #dc4c64;
  --bs-btn-border-radius: 12px;
}
* {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #212529;
  font-weight: 500;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0px;
  background-color: #ededed !important;
}
a {
  cursor: pointer;
  color: #017137 !important;
}
.link-anchor {
  text-decoration-line: underline !important;
  text-decoration-style: dotted !important;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
}
.login-form {
  background-color: #ffffff;
  width: 320px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}
.login-title {
  padding: 10px 10px;
  border-bottom: 1px solid #e6e6e6;
}
.login-title img {
  width: 40px;
  height: 40px;
}
.login-title h5 {
  font-size: 25px;
  font-weight: 800;
}
.login-title .sub {
  font-size: 10px;
  color: #717171;
  font-weight: 400;
  margin-top: -5px;
  margin-left: 2px;
  letter-spacing: 0.5px;
}
.btn {
  padding: 10px 12px !important;
  margin-bottom: 0 !important;
  line-height: inherit;
  border-radius: var(--bs-btn-border-radius);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 2px;
}
/* .btn:disabled {
  position: relative;
  z-index: -1;
} */
.btn-sm i {
  font-size: 14px !important;
}
.btn-sm {
  padding: 6px 10px !important;
  font-size: 11px !important;
}
.btn-xs {
  padding: 4px 6px !important;
  font-size: 10px !important;
}
.btn-xs i {
  font-size: 10px !important;
}
.btn-theme-green {
  color: #ffffff !important;
  background-color: var(--light-green) !important;
  border: 1px solid var(--light-green) !important;
}
.btn-theme-red {
  color: #ffffff !important;
  background-color: var(--red-light) !important;
  border: 1px solid var(--red-light) !important;
}
.btn-theme-green:hover {
  background-color: var(--dark-green) !important;
  border-color: var(--dark-green) !important;
}
.btn-theme-orange {
  color: #ffffff !important;
  background-color: var(--orange-color) !important;
  border: 1px solid var(--orange-color) !important;
}
.btn-theme-orange:hover {
  background-color: #f14e08 !important;
  border-color: #f14e08;
}
.btn-theme-dark {
  color: #ffffff !important;
  background-color: var(--thin-dark) !important;
  border: 1px solid var(--thin-dark) !important;
}
.btn-theme-dark:hover {
  background-color: var(--dark-color) !important;
  border-color: var(--dark-color) !important;
}
.btn-theme-dark i,
.btn-theme-green i,
.btn-theme-orange i,
.btn-theme-red i {
  color: #ffffff;
  font-size: 18px;
}
.img-25 {
  width: 25%;
  height: 25%;
}
.img-50 {
  width: 50%;
  height: 50%;
}
.img-100 {
  width: 100%;
  height: 100%;
}
.input-form {
  border: 1px solid #d4d4d4;
  padding: 10px 12px;
  border-radius: 5px;
  outline: none;
  transition: all ease-in-out 0.2s;
  width: 100%;
}
.input-form:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.input-form::placeholder {
  font-weight: 400;
  color: #717171;
}
.input-form:focus {
  border-color: #02aa53;
}
.input-form-grp {
  display: flex;
  align-items: center;
  border: 1px solid #d4d4d4;
  padding: 10px 12px;
  border-radius: 5px;
  outline: none;
  transition: all ease-in-out 0.2s;
  width: 100%;
}
.input-form-grp.input-frm-grp-sm {
  padding: 7px 10px !important;
  font-size: 11px !important;
}
.input-form-grp.input-frm-grp-sm input {
  font-size: 11px !important;
}
.input-form-grp input {
  border: none;
  outline: none;
  width: 100%;
  transition: all ease-in-out 0.2s;
}
.input-form-grp input::placeholder {
  font-weight: 400;
  color: #717171;
}
.input-form-grp[disabled],
.input-form-grp[disabled="true"],
.input-form-grp[disabled="disabled"] {
  background-color: #e9ecef !important;
  opacity: 1;
}
.input-form-grp:focus-within {
  border-color: #02aa53;
}
.input-form-grp.error {
  border-color: #dc4c64 !important;
}
.input-form-grp i {
  font-size: 18px;
}
/* sidebar */
.sidebar {
  background-color: #212529;
  height: 100vh;
  color: #d4d4d4;
  width: 280px;
  position: fixed;
  transition: all ease-in-out 0.3s;
  z-index: 1000;
}
.sidebar-header {
  height: 60px;
  border-bottom: 1px solid #2a2f35;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sidebar-menu {
  padding: 10px;
  overflow-y: auto;
  height: calc(100vh - 60px);
}
.sidebar-menu::-webkit-scrollbar {
  width: 10px;
}

.sidebar-menu:-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-menu::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 10px;
  padding: 0px 5px;
  border: 2px solid #212529;
}
.sidebar-menu::-webkit-scrollbar-thumb:hover {
  background-color: #02aa53;
}
.sidebar-menu ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}
.sidebar-menu ul li a {
  display: block;
  text-decoration: none;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}
.sidebar-menu ul li a span {
  color: #d4d4d4;
}
.sidebar-menu ul li a i {
  color: #979797;
  font-size: 20px;
  margin-right: 10px;
}
.sidebar-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2a2f35;
  padding: 12px 12px;
  margin: 5px 10px;
  border-radius: 5px;
}
.sidebar-footer img {
  width: 30px;
  height: 30px;
}
.sidebar-footer .qbo-text .title {
  color: #d4d4d4;
  font-size: 16px;
  font-weight: 500;
}
.sidebar-footer .qbo-text .status {
  display: flex;
  align-items: center;
  gap: 6px;
}
.sidebar-footer .qbo-text .status .text {
  color: #d4d4d4;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.sidebar-footer .qbo-text .status .indicator {
  background-color: #717171;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}
.sidebar-footer .qbo-text .status .indicator.green {
  background-color: #02aa53;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}
.sidebar-footer .qbo-text .status .indicator.red {
  background-color: #dc4c64;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}
.active a {
  background-color: #2c3138;
}
.header-txt .title {
  color: #d4d4d4;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: -5px;
}
.header-txt .sub {
  color: #d4d4d4;
  font-weight: 400;
  font-size: 10px;
}
/* content */
.content {
  margin-left: 280px;
  width: 100% !important;
  transition: all ease-in-out 0.3s;
  overflow-x: auto;
  overflow-y: auto;
}
/* header */
.header {
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
  width: 100% !important;
  background-color: #f7f7f7;
  /* z-index: 1;
  position: sticky;
  top: -1px; */
}
.menu-btn {
  /* background-color: #d4d4d4; */
  padding: 10px 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border: none;
  outline: none;
}
.menu-btn i {
  color: #2a2f35 !important;
  font-size: 20px;
}
.menu-btn:hover,
.menu-btn:active {
  background-color: #d4d4d4;
}
.sidebar.sidebar-collapse {
  width: 0px;
  margin-left: -280px;
}
.content.content-collapse {
  margin-left: 0px;
}
.page-header .page-title {
  font-size: 22px;
  font-weight: 600;
}
.filter-input span {
  font-size: 12px;
  color: #717171;
  font-weight: 600;
  letter-spacing: 0.5px;
}
/* .btn-action .dropdown-item {
  color: #212529 !important;
  padding: 10px 12px;
}
.btn-action .dropdown-item:active {
  background-color: #e9ecef !important;
  color: #02aa53 !important;
} */

.dropdown-item.active,
.dropdown-item:active {
  color: #02aa53 !important;
  text-decoration: none;
  background-color: #dcfce7 !important;
}
.dropdown-item.active i,
.dropdown-item:active i {
  color: #02aa53 !important;
}

.dropdown-item.active.delete,
.dropdown-item:active.delete {
  color: #dc4c64 !important;
  text-decoration: none;
  background-color: #fee2e2 !important;
}
.dropdown-item.active.delete i,
.dropdown-item:active.delete i {
  color: #dc4c64 !important;
}
/* table */
.table-cms {
  border: 1px solid #c9c9c96c;
  border-radius: 5px;
  overflow-y: auto !important;
  overflow-x: auto !important;
  width: 100% !important;
}
.table thead {
  z-index: 1;
  position: relative;
}
.table-cms thead th,
.table-cms tfoot th {
  font-size: 12px;
  font-weight: 600;
  color: #3b3b3b;
  border-bottom: 1px solid #c9c9c96c;
}
.table-cms table tbody tr {
  background-color: #ffffff;
  border-bottom: 1px solid #c9c9c96c !important;
  border-radius: 5px !important;
}
.table-cms table td {
  border-bottom: 0px;
  font-size: 13px;
  color: #3b3b3b;
}
.table-cms table tfoot td {
  border-top: 1px solid #c9c9c96c !important;
  font-size: 13px;
  color: #3b3b3b;
}
.table-cms table td span {
  font-size: 13px;
  color: #3b3b3b;
}
.table-cms table tbody tr:last-child {
  border-bottom: none !important;
  border-radius: 5px !important;
}
.table-cms table {
  border: 0px !important;
  border-radius: 5px;
}
.table-cms table tr:last-child td:first-child {
  border-bottom-left-radius: 5px !important;
}
.table-cms table tr:last-child td:last-child {
  border-bottom-right-radius: 5px !important;
}
.table-cms table tr:last-child th:first-child {
  border-top-left-radius: 5px !important;
}
.table-cms table tr:last-child th:last-child {
  border-top-right-radius: 5px !important;
}
.table-striped tbody > tr:nth-of-type(odd) > * {
  background-color: #f8f9fa !important;
  --bs-table-bg-type: #f8f9fa !important;
}
.form-check-input:focus {
  border-color: #2bd47d !important;
  outline: 0;
  box-shadow: none !important;
}
.form-check-input:checked {
  background-color: #02aa53 !important;
  border-color: #02aa53 !important;
}
select {
  &,
  &::picker(select) {
    appearance: base-select;
    background-color: #ffffff;
    transition: all ease-in-out 0.2s;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin-top: 1px;
  }
  &::picker(select):focus {
    border-color: #02aa53;
  }
  &::picker-icon {
    font-family: "Phosphor-Bold" !important;
    content: "\e136";
  }
  &:open {
    border-color: #02aa53;
  }
}
option {
  padding: 8px 12px;
  cursor: pointer;
}
option:active {
  background-color: #dcfce7;
  color: #02aa53;
}
.page-link {
  box-shadow: none !important;
  border-radius: 3px;
  padding: 8px 12px !important;
  color: #1b1b1b !important;
  margin-inline: 5px;
  width: fit-content !important;
  font-size: 12px !important;
  display: flex;
  align-items: center;
}
.page-item.disabled .page-link {
  color: #6c757d !important;
}
.active > .page-link,
.page-link.active {
  color: #ffffff !important;
  background-color: #02aa53 !important;
  border-color: #02aa53 !important;
}
.modal-info-text span {
  font-size: 13px;
  color: #717171;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-bottom: -5px;
}
.modal-info-text div {
  font-size: 14px;
  color: #3b3b3b;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.badge-dark {
  font-size: 11px !important;
  background-color: #212529;
  color: #d4d4d4 !important;
  padding: 6px 10px;
  border-radius: 100px;
}
.table-icon {
  font-size: 16px;
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions-profile img {
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  object-fit: cover;
  padding: 2px;
  border-radius: 5px;
  border: 1.5px solid #ecf0f4;
  image-rendering: -webkit-optimize-contrast;
}
.actions-profile {
  padding: 5px 0px;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  position: relative;
  width: fit-content;
}
.actions-profile span,
.actions-profile i {
  font-size: 12px;
  color: #111e2c;
}
.actions-profile:hover {
  background-color: #ffffff;
  border: 1px solid #ecf0f4;
  cursor: pointer;
}
.actions-profile .dropdown-toggle::after {
  display: none !important;
}
.actions-profile .dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #2a3f54;
  font-size: 12px;
  z-index: 1050 !important;
}
.actions-profile .dropdown-menu {
  position: absolute;
  width: max-content;
  /* max-width: 145px !important; */
  border: 1px solid #e8e8e8;
  top: 10px !important;
  z-index: 1050 !important;
}
.user-box {
  z-index: 1050 !important;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
}
.user-box span {
  font-size: 11px !important;
}
.user-box img {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.actions-profile button {
  border: none;
  outline: none;
  background-color: transparent;
}
.actions-profile .dropdown-item i {
  font-size: 20px !important;
}
.divider-text {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 2px;
  justify-content: center;
}
.divider-text span {
  color: #d4d4d4;
  width: 100% !important;
  text-align: center;
}
.divider-text .divider {
  border-bottom: 1px solid #6c757d;
  width: calc(100% - 140px);
}
.btn-nav {
  color: #2c3138;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 8px 12px;
  transition: all ease-in-out 0.2s;
  font-size: 13px;
}
.btn-nav:hover {
  background-color: #e8e8e8;
}
.btn-nav i {
  font-size: 20px !important;
}
.deleting {
  filter: brightness(0.5) contrast(1.2) saturate(1.6) hue-rotate(-29deg);
  width: 15px;
  height: 15px;
}
.loader-ring {
  width: 20px;
  height: 20px;
}
.tbl-cvr {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  position: relative;
}
.tbl-cvr table {
  margin-bottom: 0px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.5rem !important;
}
.tbl-cvr table tr {
  border-bottom: 1px solid #dee2e6;
}
.tbl-cvr table tfoot tr {
  border-bottom: none !important;
}
.tbl-cvr table td,
.tbl-cvr table th {
  padding: 0.5rem 0.5rem;
  font-size: 13px;
}
.input-tbl {
  border: 0px;
  width: 100%;
  outline: none;
}
.tbl-cvr table.tbl-bordered td,
.tbl-cvr table.tbl-bordered th {
  border-right: 1px solid #d8d8d8;
}
.tbl-cvr table.tbl-bordered td:last-child,
.tbl-cvr table.tbl-bordered th:last-child {
  border-right: 0px;
}
.tbl-cvr table.tbl-striped tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Lighter background color for odd rows */
}
.tbl-cvr table.tbl-striped tbody tr:nth-child(even) {
  background-color: #dee2e6; /* Darker background color for even rows */
}
.tbl-cvr input,
.tbl-cvr select {
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  width: 100%;
  transition: all ease-in-out 0.2s;
  outline: none;
  padding: 8px 2px;
  /* margin-top: -0.5rem;
  margin-bottom: -0.5rem; */
}
.tbl-cvr td.no-padding {
  padding-inline: 0.3rem;
  padding-block: 0.3rem;
}
.tbl-cvr input:focus {
  border-color: #02aa53;
}
.tbl-cvr div {
  font-size: 12px;
  width: 100%;
}

.sub-menu a {
  color: #d4d4d4 !important;
  font-size: 13px;
  padding: 10px;
  transition: all ease-in-out 0.4s;
}
.sub-menu li {
  padding-inline: 10px;
  padding-bottom: 5px;
  margin-inline: 5px;
  border-radius: 10px;
}
.sub-menu .active-menu a {
  background-color: #212529;
}
.sub-menu-active {
  background-color: #2c3138;
  border-radius: 5px;
}
.truncate-single-line {
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis */
  width: fit-content; /* Set a fixed width */
}
.form-grp-btn-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* tooltips */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 0.9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: "Poppins", sans-serif;
  text-align: center;

  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  padding: 1ch 1.5ch;
  border-radius: 0.5ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #001209;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 101%;
  border-bottom-width: 0;
  border-top-color: #001209;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 101%;
  border-top-width: 0;
  border-bottom-color: #001209;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #001209;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #001209;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
.tabs-grp {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tabs-grp .tabs {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px 12px;
  background-color: #dee2e6;
  cursor: pointer;
}
.tabs-grp .tabs.active {
  border: 1px solid #02aa53;
  background-color: #02aa53;
  color: #ffffff;
}
.tab-grp-content .tab-content {
  padding: 12px 0px;
}
/* loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.4);
}
.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 16px solid #0000;
  border-right-color: #02aa5397;
  position: relative;
  animation: s4 1s infinite linear;
}
.custom-loader:before,
.custom-loader:after {
  content: "";
  position: absolute;
  inset: -16px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.custom-loader:after {
  animation-duration: 4s;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
/* end loader */
.sent {
  background: #dcfce7;
  color: #02aa53 !important;
}
.not-sent {
  background: #e5e7eb;
  color: #374151 !important;
}
.unbooked {
  background: #fff3d3;
  color: #df9800 !important;
}
.modified {
  background: #dbeafe;
  color: #1e40af !important;
}
.failed {
  background: #fee2e2;
  color: #991b1b !important;
}
.status {
  padding: 4px 10px;
  border-radius: 100px;
  font-size: 12px !important;
  font-weight: 500 !important;
  display: inline-block;
}

/* action bar */
.action-bar {
  position: absolute; /* NOT absolute */
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--dark-color);
  color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 12px;
  z-index: 1000;
  color: #f1f1f1;
  width: fit-content;
}
.action-bar .tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 0.9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */

  /* most of the rest of this is opinion */
  font-family: "Poppins", sans-serif;
  text-align: center;

  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  padding: 1ch 1.5ch;
  border-radius: 0.5ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #001209;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 101%;
  border-bottom-width: 0;
  border-top-color: #001209;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 101%;
  border-top-width: 0;
  border-bottom-color: #001209;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #001209;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #001209;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
/* sweet alert */
.swal2-title {
  font-size: 22px !important;
  font-weight: 700 !important;
}
.swal2-popup {
  background-color: #fcfcfc !important;
  border-radius: 1rem !important;
  -webkit-box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.33);
  border: 1px solid #ededed;
}
.swal2-actions button {
  border-radius: 5px !important;
}

/* tip box */
.tip-info {
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  display: flex;
  align-items: start;
  padding: 10px 12px;
  gap: 10px;
  justify-content: space-between;
  cursor: pointer;
}
.tip-info .close i {
  color: #595d61;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.tip-info .close:hover i {
  color: #dc4c64;
}
.tip-info img {
  filter: brightness(0.8) contrast(1.2) saturate(1.6) hue-rotate(-29deg);
  width: 64px;
  height: 64px;
}
.tip-content {
  max-width: 100%;
}
.tip-content .title {
  font-size: 16px;
  font-weight: 600;
}
.tip-content .text {
  font-size: 13px;
  color: #595d61;
}
.tip-button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.tip-button button {
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #02aa53 !important;
  font-size: 12px;
  transition: all ease-in-out 0.3s;
  padding: 10px 12px;
  border-radius: 5px;
}
.tip-button button:hover,
.tip-button button:active {
  background-color: #017137 !important;
}

.btn-table {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #2c2e3b;
  cursor: pointer;
}
.btn-table i {
  color: #2c2e3b;
  font-size: 16px;
}
